@import "../../../commons/theme/design_tokens";
@import "../../../commons/theme/theme";

.post-summary {
  padding: $spacing-xs;

  .title {
    color: $primary-darkest;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
