@import "../../../commons/theme/design_tokens";

app-post-management, app-post-content-management {
  display: block;
  margin-top: $spacing-s;
}

.action-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-s;

  .delete-post {
    flex: 1 1 auto;
  }

  .update-post {
    flex: 0 0 auto;
  }
}
