<div class="mat-headline">Edit Post Metadata</div>
<app-post-management [formControl]="postFormControl"></app-post-management>
<div class="action-bar">
  <div class="delete-post">
    <button
      mat-mini-fab
      color="warn"
      (click)="deletePost()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="update-post">
    <button mat-raised-button color="primary" (click)="editPost()">Save</button>
  </div>
</div>
<div class="mat-headline">Edit Post Content</div>
<app-post-content-management [formControl]="postContentFormControl"></app-post-content-management>
<div class="action-bar">
  <button mat-raised-button color="primary" (click)="editContent()" class="update-button">Save</button>
</div>
