.container {
  display: flex;
  height: 200px;
  background-color: #a3dfd4;
}

.app-title {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
}
h1 {
  text-align: center;
  color: #2f2f2f;
}
